---
import { storyblokEditable } from "@storyblok/astro";
import { Image } from "astro:assets";

const { blok } = Astro.props;
let dynamicHeroClass = blok.layout === "constrained" ? "container mx-auto" : "";
---

<div  {...storyblokEditable(blok)} class={`${dynamicHeroClass} flex flex-col items-center my-12`}>
  <Image
  src={blok.background_image.filename}
  alt={blok.background_image.alt}
  width="200"
  height="150"
  class=" w-[40vw] h-auto object-cover"
  />
  <h1 class="text-6xl text-text-primary text-center font-sans leading-tight font-semibold my-6  w-[70vw]">
    {blok.headline}
  </h1>
  <h2 class="text-2xl text-text-secondary text-center font-display  w-[70vw]">
    {blok.subheadline}
  </h2>

</div>
