---
import { storyblokEditable } from "@storyblok/astro";
import { Image } from "astro:assets";
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="bg-soft-blue items-center flex container rounded-[30px] py-10 px-12 gap-12 my-12">
    <Image
    src={blok.bannerImage.filename}
    alt={blok.bannerImage.alt}
    width="200"
    height="150"
    class=" w-[40%] h-auto object-cover"
    />
    <div>
        <h3 class="text-[30px] text-text-primary font-display">
            {blok.textsWithButton[0].subheadline}
        </h3>
        <h2 class="text-[50px] leading-none mt-[10px] mb-[15px] text-text-primary font-bold font-sans">
            {blok.textsWithButton[0].headline}
        </h2>
        <p class="text-[21px] text-text-secondary font-display">
            {blok.textsWithButton[0].primaryText}
        </p>
        <button class="rounded-[50px] mt-[40px] bg-primary text-white px-5 py-2 text-lg">
            {blok.textsWithButton[0].textButton}
        </button>
    </div>

</div>