---
import { Image } from "astro:assets";

const { article } = Astro.props;
---

<article class="column feature rounded">
  <Image
    src={`${article.image.filename}/m/360x240`}
    alt={article.image.alt}
    width="200"
    height="200"
    class="object-cover object-center w-full aspect-square lg:h-48 md:h-36 rounded"
  />
  <div class="">
    <h1 class="text-lg font-semibold font-display my-3 lg:text-xl">
      {article.title}
    </h1>
    <p class="leading-relaxed text-gray-700 line-clamp-2 my-3">
      {article.teaser}
    </p>
    <a
      href={`/blog/${article.slug}`}
      class="font-semibold text-blue-600 hover:underline"
      title="read more"
    >
      Read More »
    </a>
  </div>
</article>
